---
import BlogHeader from "@/components/blog/BlogHeader.astro"
import PostCard from "@/components/blog/PostCard.astro"
import Heading from "@/components/Heading.astro"
import BaseLayout from "@/layouts/BaseLayout.astro"
import SectionWrapper from "@/layouts/SectionWrapper.astro"
import { getCollection } from "astro:content"

const posts = (await getCollection("posts", (post) => !post.data.isDraft)).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
)
---

<BaseLayout
  title="The Imla Blog"
  description="Cool blog description"
>
  <SectionWrapper>
    <section
      aria-label="Welcome, world"
      class="flex flex-col items-center"
    >
      <BlogHeader title="Get all the latest news from the Imlaverse" />
      <div
        class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-x-6 gap-y-9 md:gap-y-11 lg:gap-y-16 lg:gap-x-8 pt-4 lg:pt-10"
      >
        {posts.map((post) => <PostCard {...post} />)}
      </div>
    </section>
  </SectionWrapper>
</BaseLayout>
