<h1 class="text-4xl text-foreground text-balance text-center">
  Unleash the power of
  <br />
  <span class="text-5xl md:text-[6rem] font-black mt-1 
  leading-none font-serif text-balance text-primary text-center">
    Imla Transcripts
  </span>
</h1>
