---
import mobile_ui from '@/assets/mobile-ui.png'
import ui from '@/assets/ui.png'
import { Image } from 'astro:assets'
---
<div
  class="rounded-lg border bg-zinc-900 shadow-lg overflow-hidden w-fit mx-auto"
>
{/* Window Header / Title Bar */}
<div class="grid grid-cols-[3rem_1fr_3rem] md:grid-cols-[4rem_1fr_4rem] items-center gap-6 px-4 py-2">
  <div class="flex items-center gap-x-2">
    <div class="size-3 rounded-full bg-[#2D3039]/15 dark:bg-white/15" />
    <div class="size-3 rounded-full bg-[#2D3039]/15 dark:bg-white/15" />
    <div class="size-3 rounded-full bg-[#2D3039]/15 dark:bg-white/15" />
  </div>
  <div>
    <div class="mx-auto flex items-center justify-center gap-1 py-0.5 md:w-[30%] bg-[#2D3039]/10 dark:bg-white/10 rounded-lg text-xs font-medium leading-6 text-[#2D3039]/70 dark:text-neutral-200">
      <svg class="size-3.5" fill="currentColor" viewBox="0 0 20 20"><path d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z" fill-rule="evenodd"></path></svg>
      imla.io
    </div>
  </div>
</div>
{/* Window Content */}
<div class="p-2 bg-card">
  <Image
    src={mobile_ui}
    quality="max"
    alt="Image for mobile"
    class="block md:hidden"
    loading="eager"
    width={300}
    densities={[1.5, 2]}
  />
    <Image
      src={ui}
      quality="max"
      alt="Image for desktop"
      class="hidden md:block"
      loading="eager"
      width={1200}
      densities={[1.5, 2]}
    />
</div>
</div>
