---
import { ThemeToggle } from "@/components/ThemeToggle"
import { buttonVariants } from "@/components/ui/button"
import { Icon } from "astro-icon/components"
import MobileNav from "./MobileNav"
import type { Props as Link } from "./NavLink.astro"
import NavLink from "./NavLink.astro"
import NavList from "./NavList.astro"

import logo from "@/assets/logo.png"
import SocialLinks from "../SocialLinks.astro"

const links: Link[] = [
  {
    title: "Imla",
    href: "/",
    img: logo,
  },
  {
    title: "Pricing",
    href: "/pricing",
  },
  {
    title: "Contact Us",
    href: "/contact-us",
  },
  {
    title: "Blog",
    href: "/blog",
  },
  {
    title: "Login",
    href: "https://app.imla.io/login",
  },
]
---

<header class="sticky top-0 h-16 bg-background z-50 bottom-1">
  <div
    class="container flex gap-4 px-4 md:px-6 justify-between items-center h-full"
  >
    <nav
      class="hidden flex-col gap-6 text-lg font-medium md:flex md:flex-row md:items-center md:gap-5 md:text-sm lg:gap-6"
    >
      <NavList data={links} />
    </nav>

    <NavLink img={logo} href={"/"} title={"Imla"} classes="md:hidden" />

    <div class="md:flex md:gap-4 hidden">
      <ThemeToggle client:idle>
        <Icon
          name="sun"
          class="h-[1.2rem] w-[1.2rem] rotate-0 scale-100 transition-all dark:-rotate-90 dark:scale-0"
        />
        <Icon
          name="moon"
          class="absolute h-[1.2rem] w-[1.2rem] rotate-90 scale-0 transition-all dark:rotate-0 dark:scale-100"
        />
      </ThemeToggle>

      <a href="https://app.imla.io/register" class={buttonVariants()} )}>
        Get Started
      </a>
    </div>

    <MobileNav client:load>
      <NavList data={links} />
      <a
        href="https://app.imla.io/register"
        class={`${buttonVariants({ size: "lg" })} w-fit md:hidden`}
      >
        Get Started
      </a>

      <div class="flex gap-4">
        <SocialLinks />
        <ThemeToggle client:idle>
          <Icon
            name="sun"
            class="h-[1.2rem] w-[1.2rem] rotate-0 scale-100 transition-all dark:-rotate-90 dark:scale-0"
          />
          <Icon
            name="moon"
            class="absolute h-[1.2rem] w-[1.2rem] rotate-90 scale-0 transition-all dark:rotate-0 dark:scale-100"
          />
        </ThemeToggle>
      </div>
    </MobileNav>
  </div>
</header>
