---
import { Icon } from "astro-icon/components"
import { ThemeToggle } from "@/components/ThemeToggle"
import { Button } from "@/components/ui/button"
import NavList from "./NavList.astro"
import MobileNav from "./MobileNav"
import NavLink from "./NavLink.astro"
import type { Props as Link } from "./NavLink.astro"

import logo from "@/assets/logo.png"

const links: Link[] = [
  {
    title: "Imla",
    href: "/",
    img: logo,
  },
  {
    title: "Pricing",
    href: "/pricing",
  },
  {
    title: "Contact Us",
    href: "/contact",
  },
  {
    title: "Blog",
    href: "/blog",
  },
  {
    title: "Login",
    href: "/login",
  },
]

const currentPage = Astro.url.pathname
---

<header class="sticky top-0 h-16 bg-background z-50 bottom-1">
  <div
    class="container flex gap-4 px-4 md:px-6 justify-between items-center h-full"
  >
    <nav
      class="hidden flex-col gap-6 text-lg font-medium md:flex md:flex-row md:items-center md:gap-5 md:text-sm lg:gap-6"
    >
      <NavList data={links} />
    </nav>

    <NavLink
      img={logo}
      href={"/"}
      title={"Imla"}
      isActive={currentPage === "/"}
      classes="md:hidden"
    />

    <div class="md:flex md:gap-4 hidden">
      <ThemeToggle client:idle>
        <Icon
          name="sun"
          class="h-[1.2rem] w-[1.2rem] rotate-0 scale-100 transition-all dark:-rotate-90 dark:scale-0"
        />
        <Icon
          name="moon"
          class="absolute h-[1.2rem] w-[1.2rem] rotate-90 scale-0 transition-all dark:rotate-0 dark:scale-100"
        />
      </ThemeToggle>
      <Button variant="default" className="w-fit"
        >Get started
        <!-- <Icon name="next" class="size-6" /> -->
      </Button>
    </div>

    <MobileNav client:visible>
      <NavList data={links} />
      <Button variant="default" className="w-fit md:hidden"
        >Get started
        <!-- <Icon name="next" class="size-6" /> -->
      </Button>
      <div class="flex gap-4">
        <Button variant="outline" size="icon">
          <Icon name="facebook" class="h-[1.2rem] w-[1.2rem] text-foreground" />
        </Button>
        <Button variant="outline" size="icon">
          <Icon name="twitter" class="h-[1.1rem] w-[1.1rem] text-foreground" />
        </Button>
        <ThemeToggle client:idle>
          <Icon
            name="sun"
            class="h-[1.2rem] w-[1.2rem] rotate-0 scale-100 transition-all dark:-rotate-90 dark:scale-0"
          />
          <Icon
            name="moon"
            class="absolute h-[1.2rem] w-[1.2rem] rotate-90 scale-0 transition-all dark:rotate-0 dark:scale-100"
          />
        </ThemeToggle>
      </div>
    </MobileNav>
  </div>
</header>
