---
import type { ImageMetadata } from 'astro'
import { extractSegmentURL } from '@/lib/utils'
import { Image } from 'astro:assets'

// components

export type Props = {
  href: string
  img?: ImageMetadata
  title: string
  isActive?: boolean
  classes?: string
}

const { href, img, title, classes } = Astro.props
const segment = extractSegmentURL(Astro.url.pathname)
---

<a
  href={href}
  aria-label={img && title}
  class:list={[
    'transition-colors hover:text-primary',
    href.startsWith(`/${segment}`) ? 'text-primary' : 'text-foreground',
    classes,
  ]}
>
  {
    img
? (
      <Image
        class="hover:scale-105"
        src={img}
        alt="Imla logo"
        width={50}
        loading="lazy"
      />
    )
: (
      <span>{title}</span>
    )
  }
</a>
