---
import Heading from "@/components/Heading.astro"
import EstimateCard from "@/components/pricing/EstimateCard"
import SectionWrapper from "@/layouts/SectionWrapper.astro"
---

<SectionWrapper>
  <section
    aria-label=""
    class="flex flex-col items-center space-y-14 lg:space-y-32"
  >
    <Heading tagName="h1" classes="text-center">
      Need a lot more minutes?
      <br />
      Estimate your <span class="text-primary">bulk transcription</span> cost
    </Heading>
    <div class="w-full sm:max-w-2xl">
      <EstimateCard client:visible />
    </div>
  </section>
</SectionWrapper>
