---
import BaseLayout from "@/layouts/BaseLayout.astro"

import Heading from "@/components/Heading.astro"
import Hero from "@/components/home/Hero"
import { Image } from "astro:assets"
import ui from "@/assets/ui.png"
---

<BaseLayout>
  <Hero client:load>
    <Image
      src={ui}
      alt="Imla for desktops"
      format="avif"
      width={1000}
      loading="eager"
      densities={[1.5, 2]}
    />
  </Hero>
  <Heading tagName="h1">Sphinx of black quartz, judge my vow</Heading>
  <p>Hello to a cool paragraph</p>
</BaseLayout>
