---
import { buttonVariants } from '@/components/ui/button'
import { socialData } from '@/data/siteData'
import { Icon } from 'astro-icon/components'
---

{
  socialData.map(({ href, title, icon }) => (
    <a
      aria-label={title}
      class={buttonVariants({ variant: 'outline', size: 'icon' })}
      href={href}
    >
      <Icon name={icon} size={20} />
    </a>
  ))
}
