---
import Footer from '@/components/Footer.astro'
// components
import Navbar from '@/components/navigation/Navbar.astro'
// layouts
import BaseHead from './BaseHead.astro'

// css & fonts
import '@/styles/globals.css'

import '@fontsource-variable/fraunces'
import '@fontsource/poppins'
---

<html lang="en" class="dark">
  <BaseHead {...Astro.props} />
  <body>
    <Navbar />
    <main class="dark:bg-dot-white/[0.07] bg-dot-black/[0.2]">
      <slot />
    </main>
    <Footer />
  </body>
</html>
