---
// css & fonts

// components

import BaseHead from "./BaseHead.astro"
---

<html lang="en">
  <BaseHead {...Astro.props} />
  <body class="text-zinc-950">
    <!-- <Nav /> -->
    <main>
      <slot />
    </main>
    <!-- <Footer /> -->
  </body>
</html>
