---
// css & fonts
import "@/styles/globals.css"
import "@fontsource-variable/fraunces"
import "@fontsource/poppins"

// layouts
import BaseHead from "./BaseHead.astro"

// components
import Navbar from "@/components/navigation/Navbar.astro"
---

<script is:inline>
  const getThemePreference = () => {
    if (typeof localStorage !== "undefined" && localStorage.getItem("theme")) {
      return localStorage.getItem("theme")
    }
    return window.matchMedia("(prefers-color-scheme: dark)").matches
      ? "dark"
      : "light"
  }
  const isDark = getThemePreference() === "dark"
  document.documentElement.classList[isDark ? "add" : "remove"]("dark")

  if (typeof localStorage !== "undefined") {
    const observer = new MutationObserver(() => {
      const isDark = document.documentElement.classList.contains("dark")
      localStorage.setItem("theme", isDark ? "dark" : "light")
    })
    observer.observe(document.documentElement, {
      attributes: true,
      attributeFilter: ["class"],
    })
  }
</script>

<html lang="en">
  <BaseHead {...Astro.props} />
  <body>
    <Navbar />
    <main class="dark:bg-dot-white/[0.07] bg-dot-black/[0.2]">
      <slot />
    </main>
  </body>
</html>
