---
const { id } = Astro.props
---

<div
  class="container rounded-t-3xl lg:rounded-[48px] py-16 lg:py-32 bg-[radial-gradient(78.57%_50%_at_50.65%_0.84%,_var(--tw-gradient-stops))] dark:from-primary/50 from-border/50 via-transparent via-95%"
  id={id}
>
  <slot />
</div>
