<div
  class="mx-auto w-full px-4 md:px-6 lg:px-8 xl:px-[3.75rem] max-w-7xl flex flex-col gap-y-16 py-24 lg:gap-y-32 lg:py-32"
>
  <div class="mx-auto md:max-w-screen-sm lg:max-w-4xl">
    <div class="flex flex-col gap-y-6">
      <div class="flex flex-col gap-y-3">
        <span
          class="text-brand-dark dark:text-brand text-sm font-medium text-pretty block text-center"
          >For learning</span
        ><h2
          class="text-neutral-900 dark:text-white lg:text-5xl lg:-tracking-3 lg:font-bold text-4xl -tracking-2 font-bold text-center"
        >
          Our projects are designed to make for an <em>impressive</em> portfolio,
          even for seniors
        </h2>
      </div>
    </div>
  </div><ul
    aria-label="Learning features"
    class="flex flex-col gap-y-16 lg:gap-y-32"
  >
    <li
      aria-labelledby=":r8i:-beautiful-designs"
      class="flex flex-col items-center gap-x-28 gap-y-12 lg:flex-row lg:even:flex-row-reverse"
    >
      <div
        class="aspect-[453/328] h-fit w-full max-w-[453px] shrink-0 rounded-lg lg:w-auto bg-neutral-50 dark:bg-neutral-800/40 glassbox border border-neutral-200 dark:border-transparent"
      >
        <img
          alt=""
          loading="lazy"
          width="453"
          height="328"
          decoding="async"
          data-nimg="1"
          class="size-full"
          src="img/marketing/projects/beautiful-designs-dark.svg"
          style="color: transparent;"
        />
      </div><div class="flex flex-col gap-4">
        <h3
          class="text-neutral-900 dark:text-white lg:text-3xl lg:-tracking-1 lg:font-bold text-2xl font-semibold text-pretty"
          id=":r8i:-beautiful-designs"
        >
          Beautiful designs made by high-end designers
        </h3><span class="text-neutral-600 dark:text-neutral-400 text-pretty"
          >Every project challenge was designed by senior UI/UX designers with
          perfect spacing units and design rules, so that your portfolio
          projects will always look professional.</span
        >
      </div>
    </li><li
      aria-labelledby=":r8i:-personalized-projects"
      class="flex flex-col items-center gap-x-28 gap-y-12 lg:flex-row lg:even:flex-row-reverse"
    >
      <div
        class="aspect-[453/328] h-fit w-full max-w-[453px] shrink-0 rounded-lg lg:w-auto bg-neutral-50 dark:bg-neutral-800/40 glassbox border border-neutral-200 dark:border-transparent"
      >
        <img
          alt=""
          loading="lazy"
          width="453"
          height="328"
          decoding="async"
          data-nimg="1"
          class="size-full"
          src="img/marketing/projects/personalized-projects-dark.svg"
          style="color: transparent;"
        />
      </div><div class="flex flex-col gap-4">
        <h3
          class="text-neutral-900 dark:text-white lg:text-3xl lg:-tracking-1 lg:font-bold text-2xl font-semibold text-pretty"
          id=":r8i:-personalized-projects"
        >
          Build personalized projects, instead of the same as everyone else
        </h3><span class="text-neutral-600 dark:text-neutral-400 text-pretty"
          >Unlike other challenge platforms, all our projects are modular with
          one other as they are constructed with the same design system. Easily
          mix and match any component or project you build to craft a unique
          app.</span
        >
      </div>
    </li><li
      aria-labelledby=":r8i:-build-entire-component-tracks"
      class="flex flex-col items-center gap-x-28 gap-y-12 lg:flex-row lg:even:flex-row-reverse"
    >
      <div
        class="aspect-[453/328] h-fit w-full max-w-[453px] shrink-0 rounded-lg lg:w-auto bg-neutral-50 dark:bg-neutral-800/40 glassbox border border-neutral-200 dark:border-transparent"
      >
        <img
          alt=""
          loading="lazy"
          width="453"
          height="328"
          decoding="async"
          data-nimg="1"
          class="size-full"
          src="img/marketing/projects/build-entire-component-tracks-dark.svg"
          style="color: transparent;"
        />
      </div><div class="flex flex-col gap-4">
        <h3
          class="text-neutral-900 dark:text-white lg:text-3xl lg:-tracking-1 lg:font-bold text-2xl font-semibold text-pretty"
          id=":r8i:-build-entire-component-tracks"
        >
          Impress recruiters with component libraries and designs systems
        </h3><span class="text-neutral-600 dark:text-neutral-400 text-pretty"
          >Our <a
            class="transition-colors text-brand-dark dark:text-brand hover:underline focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-brand-dark dark:focus-visible:outline-brand"
            href="/projects/tracks">Component Tracks</a
          > allow you to build entire design systems or component libraries from
          scratch – including very practical ones like Marketing, E-Commerce and
          Web Applications.</span
        >
      </div>
    </li>
  </ul>
</div>
