---
import Heading from "@/components/Heading.astro"
import SectionWrapper from "@/layouts/SectionWrapper.astro"
import { getCollection } from "astro:content"
import FeatureItem from "./FeatureItem.astro"

const features = await getCollection("features")
---

<SectionWrapper>
  <section aria-label="Features section" class="space-y-14 lg:space-y-32">
    <Heading tagName="h1" classes="text-center"
      >Imla is designed to produce <span class="italic text-primary"
        >accurate</span
      > transcripts, even for <strong>Swahili</strong>
    </Heading>

    <ul class="flex flex-col gap-y-16 lg:gap-y-32 items-center">
      {features.map((item) => <FeatureItem data={item.data} />)}
    </ul>
  </section>
</SectionWrapper>
